URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1URxvt.perl-ext-common: default,matcher
URxvt.matcher.rend.0: Uline Bold fg5

URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!urxvt color scheme:

!transparency
urxvt*transparent: false
urxvt*shading: 10

!background
URxvt*background: #192129
URxvt*foreground: #DEDEDE

URxvt*colorUL: #86a2b0

! black
URxvt*color0  : #2E3436
URxvt*color8  : #2E3436
! red
URxvt*color1  : #F05D5E
URxvt*color9  : #F05D5E
! green
URxvt*color2  : #528275
URxvt*color10 : #528275
! yellow
URxvt*color3  : #E8C547
URxvt*color11 : #E8C547
! blue
URxvt*color4  : #334B71
URxvt*color12 : #334B71
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #E0E0E0
URxvt*color15 : #E0E0E0

URxvt*borderLess: false

!urxvt font config:

URxvt.font: xft:DejaVu Sans Mono:size=10:foundry=PfEd:weight=normal:width=normal:spacing=100:scalable=true
URxvt.letterSpace: -1.5

!urxvt scrolling options and cursor style:

! enable scrollbar
URxvt*scrollBar:          false     
! scrollbar width
URxvt*thickness:          7.5
! scrollbar color
URxvt*scrollColor:        #06989A
! scrollbar trough area color
!URxvt*troughColor:        #333333
! scrollbar without a trough
!URxvt*scrollBar_floating: false
! scrollbar to the right
URxvt*scrollBar_right:    true
! scrollbar style
URxvt*scrollstyle:        plain

URxvt*saveLines: 12000
URxvt*cursorBlink: true
URxvt*cursorUnderline: true